* {
    background: transparent;
	border: 0;
	margin: 0;
	outline: 0;
	padding: 0;
    font-family: sans-serif;
}
html {
    scroll-behavior: smooth;
}
div {
    display: block;
}

/*MAIN SITE --------------------------------------------------------------------------------------------------------------------------------*/
.video-container {
    max-height: 675px;
    height: 100%;
}
.video-background {
    height: 550px;
    width: 100%;
    object-fit: cover
}

/*HEADER*/
#site-header {
    display: flex;
    justify-content: center;
    position: relative;
}
#site-header-grid {
    display: inline-block;
    width: 100%;
    height: 100%;
    margin-bottom: -10px;
}
.header-flex {
    display: flex;
    justify-content: center;
    background-color: black;
}

/*LOGO*/
#logo-image {
    height: 73px;
    width: 230px;
    float: left;
}
.logo {
    display: inline-block;
    margin-right: 290px;
    margin-top: 10px;
    margin-bottom: 10px;
    animation:transition 0.50s;
}

/*NAVBAR*************************************************************************************************************************/
.navbar {
    display: inline;
    float: right;
    margin-top: 38px;
    margin-right: 50px;
    margin-left: 25px;
    animation:transition 0.50s;
}
.navbar li {
    list-style-type: none;
    display: inline;
}
.nav-buttons{
    text-decoration: none;
    margin-right: 30px;
    font-size: 15px;
    color: white;
    font-family: sans-serif;
}
.nav-buttons-reservation {
    transition: all 0.5s ease;
}
.nav-buttons-reservation a {
    text-decoration: none;
    margin-right: 15px;
    font-size: 15px;
    color: white;
    padding: 5px 7px 5px 7px;
    border-radius: 5px;
    background-color: rgb(198, 48, 44);
    font-family: sans-serif;
}
.nav-buttons:hover {
    color:  rgb(198,48,44);
    transition: var(--trans, color .4s ease 0s);
}
.nav-buttons-reservation:hover {
    transform: scale(1.1);  
}

/*ANIMATION WHEN REFRESHING*/
@keyframes transition{
    from{
        opacity: 0;
        transform: rotate(-2deg);
    } 
    to{
        opacity: 1;
        transform:rotate(0);
    }

}

/*PAGE CONTAINER: "ITO UNG GITNA"***********************************************************************************************************************************************/
#grid-container {
    position: static;
	display: grid; 
    column-gap: 0px;
	height: auto;
	width: 100%;
	grid-template-columns: 100%;
	box-sizing: border-box;
	padding-bottom: 0px 
}

/*FIRST PAGE*/
.first-page img{
    width: 100%;
    position: relative;
    animation:transition 1.5s;
}
.centered {
    position: absolute;
    bottom: 30%;
    right: 50%;
}

/*SECOND PAGE*/

/*OVERVIEW CONTENT*/
#second-page {
    background-color: rgb(198, 48, 44);
    position: relative;
    padding: 70px 0px 70px 0px;
}
.overview-container {
    display: flex;
    margin-right: auto;
    margin-right: 50px;
    margin-left: auto;
    margin-left: 50px;
    justify-content: space-evenly;
    position: relative;
}

/*OVERVIEW IMAGE*/
.overview-image {
    display: flex;
}
.overview-image-container img {
    height: 800px;
    width: 750px;
}

/*OVERVIEW INFORMATION*/
.overview-info {
    display: flex;
    align-items: center;
}
.overview-info-container {
    display: block;
    margin: 90px 30px 90px 30px;
}

/*OVERVIEW TITLE*/
.overview-title h2{
    color: white;
    font-size: 60px;
    font-family: 'Times New Roman', Times, serif;
    margin: 10px 0px 10px 0px;
}

/*OVERVIEW SUBTITLE*/
.overview-subtitle {
    color: #f6f6f6;
    font-size: 25px;
    margin: 0px 0px 10px 0px;
}

/*OVERVIEW INFO PARAGRAPH*/
.overview-info-paragraph {
    color: #CCCCCC;
    font-size: 20px;
}

/*READMORE BUTTON*/
.readmore-container {
    margin: 15px 0px 20px 0px;
}
.readmore-button {
    border-style: solid;
    border-color: #CCCCCC;
    border-width: 1px 1px 1px 1px;
    padding: 15px 30px;
    transition: all 0.5s ease;
}
.readmore-button {
    text-decoration: none;
    font-size: 15px;
    color: #ffffff;
}
.readmore-button:hover {
    transform: scale(1.1);
    background-color: #ffffff;
    color: rgb(198, 48, 44);
    cursor: pointer;
}

/*THIRD PAGE*/
#third-page {
    background-color: #ffffff;
    position: relative;
    padding: 70px 0px 70px 0px;
    margin: 70px 0px 70px 0px;
}
.reservation-container {
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    padding: auto;
    position: relative;
}

/*RESERVATION INFO*/
.reservation-info {
    display: inline-block;
    margin: 100px 0px 50px 0px;
}
/*RESERVATION INFO TITLE*/
.reservation-title h2 {
    font-size: 30px;
}

/*RESERVATION INFO SUBTITLE*/
.reservation-subtitle h2{
    font-size: 45px;
}

/*RESERVATION INFO BUTTON*/
.reservation-button-container {
    margin: 10px 0px 10px 0px;
}
.reservation-button {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    padding: 15px 30px 15px 30px;
    border-color: #CCCCCC;
    transition: all 0.5s ease;
    font-size: 15px;
}
.reservation-button:hover {
    transform: scale(1.1);
    border-color: rgb(198, 48, 44);
    background-color: rgb(198, 48, 44);
    color: #ffffff;
}

/*RESERVATION IMAGE*/
.reservation-image {
    display: flex;
}
.reservation-image img {
    height: 350px;
    width: 700px;
}

/*FOOTER*******************************************************************************************************************************/
footer {
    background-color: black;
}
.footer-container {
    position: static;
    display: grid;
    height: auto;
    width: 100%;
    grid-template-rows: 1fr;
    grid-template-columns: 100%;
}
.footer-content {
    padding: 30px 10px 30px 10px;
}
.footer-info-flex {
    display: flex;
}
.footer-logo {
    margin: -80px 0px 0px 0px;
    padding-left: 155px;
}
/*FOOTER LOGO*/
#image-logo img{
    float: right;
    height: 50%;
    width: 50%;    
}

/*FOOTER INFO (NUMBER, LOCATION)*/
.footer-address-flex {
    display: flex;
    position: relative;
    margin-top: 50px;
    margin-left: 150px;
}
.footer-info-address {
     color: rgba(255, 255, 255, 0.79);
}
.footer-info-address li {
    list-style: none;
    margin-top: 20px;
}

/*FOOTER WIDGETS/COPYRIGHT*/
#footer-widgets {
    border-style: solid;
    border-width: 1px 0px 0px 0px;
    color: rgba(255, 255, 255, 0.25);
    margin-top: 80px;
    margin-bottom: 0px;
    margin-left: 180px;
    margin-right: 180px;

}
.footer-widgets-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-widgets-container {
    padding: 10px;
    margin-top: 15px;
    margin-left: 80px;
}
.fa {
    padding: 15px;  
    width: 20px;
    height: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 50px;
}
.fa:hover {
    opacity: 0.9;
}
/*FACEBOOK*/
.fa-facebook {
    background-color: rgba(255, 255, 255, 0.25);
    color: white;
}
/*TWITTER*/
.fa-twitter {
    background-color: rgba(255, 255, 255, 0.25);
    color: white;
}
/*INSTAGRAM*/
.fa-instagram {
    background-color: rgba(255, 255, 255, 0.25);
    color: white;
}

/*FOOTER COPYRIGHT*/
.footer-copyright {
    padding: 10px;
    margin-right: 80px;
    float: right;
}
.copyright-text {
    text-align: right;
}