* {
    background: transparent;
	border: 0;
	margin: 0;
	outline: 0;
	padding: 0;
    font-family: sans-serif;
}
html {
    scroll-behavior: smooth;
}
div {
    display: block;
}

/*MAIN SITE --------------------------------------------------------------------------------------------------------------------------------*/

/*HEADER*/
#site-header {
    display: flex;
    background-image: url(https://i.ibb.co/nmc184m/Front-page-deisgn2-png.png);
    background-size: cover;
    padding-bottom: 50%;
    justify-content: center;
}
#site-header-grid {
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-block;
}

/*LOGO*/
#logo-image {
    height: 100px;
    width: 310px;
    float: left;
}
.logo {
    display: inline-block;
    margin-right: 220px;
    margin-top: 10px;
}

/*NAVBAR*************************************************************************************************************************/
.navbar {
    display: inline;
    float: right;
    margin-top: 45px;
    margin-right: 50px;
    margin-left: 25px;
}
.navbar li {
    list-style-type: none;
    display: inline;
}
.nav-buttons{
    text-decoration: none;
    margin-right: 30px;
    font-size: 20px;
    color: white;
    font-family: sans-serif;
}
.nav-buttons-reservation {
    transition: all 0.5s ease;
    margin-left: 150px;
}
.nav-buttons-reservation a {
    text-decoration: none;
    margin-right: 15px;
    font-size: 20px;
    color: white;
    background-color: rgb(198, 48, 44);
    font-family: sans-serif;
    margin-left: 150px;
}
.nav-buttons:hover {
    color:  rgb(198,48,44);
    transition: var(--trans, color .4s ease 0s);
}
.nav-buttons-reservation:hover {
    transform: scale(1.1);  
}

/*PAGE CONTAINER: "ITO UNG GITNA"***********************************************************************************************************************************************/
#grid-container {
    position: static;
	display: grid; 
    column-gap: 0px;
	height: auto;
	width: 100%;
	grid-template-columns: 100%;
	box-sizing: border-box;
	padding-bottom: 0px 
}

/*FIRST PAGE*/
.first-page img{
    width: 100%;
    position: relative;
}
.centered {
    position: absolute;
    bottom: 30%;
    right: 50%;
}

/*SECOND PAGE*/
.second-image-background img {
    height: 574px;
    width: 1014px;
    position: relative;
    height: 100%;
    width: 100%;
}
/*FOOTER*******************************************************************************************************************************/
footer {
    background-color: black;
}
.footer-container {
    position: static;
    display: grid;
    height: auto;
    width: 100%;
    grid-template-rows: 1fr;
    grid-template-columns: 100%;
}
.footer-content {
    padding: 30px 10px 30px 10px;
}
.footer-info-flex {
    display: flex;
}
.footer-logo {
    margin: -80px 0px 0px 0px;
    padding-left: 155px;
}
/*FOOTER LOGO*/
#image-logo img{
    float: right;
    height: 50%;
    width: 50%;    
}

/*FOOTER INFO (NUMBER, LOCATION)*/
.footer-address-flex {
    display: flex;
    position: relative;
    margin-top: 50px;
    margin-left: 150px;
}
.footer-info-address {
     color: rgba(255, 255, 255, 0.79);
}
.footer-info-address li {
    list-style: none;
    margin-top: 20px;
}

/*FOOTER WIDGETS/COPYRIGHT*/
#footer-widgets {
    border-style: solid;
    border-width: 1px 0px 0px 0px;
    color: rgba(255, 255, 255, 0.25);
    margin-top: 80px;
    margin-bottom: 0px;
    margin-left: 180px;
    margin-right: 180px;

}
.footer-widgets-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-widgets-container {
    padding: 10px;
    margin-top: 15px;
    margin-left: 80px;
}
.fa {
    padding: 15px;  
    width: 20px;
    height: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 50px;
}
.fa:hover {
    opacity: 0.9;
}
/*FACEBOOK*/
.fa-facebook {
    background-color: rgba(255, 255, 255, 0.25);
    color: white;
}
/*TWITTER*/
.fa-twitter {
    background-color: rgba(255, 255, 255, 0.25);
    color: white;
}
/*INSTAGRAM*/
.fa-instagram {
    background-color: rgba(255, 255, 255, 0.25);
    color: white;
}

/*FOOTER COPYRIGHT*/
.footer-copyright {
    padding: 10px;
    margin-right: 80px;
    float: right;
}
.copyright-text {
    text-align: right;
}