* {
    background: transparent;
	border: 0;
	margin: 0;
	outline: 0;
	padding: 0;
}

/*MAIN SITE --------------------------------------------------------------------------------------------------------------------------------*/

/*NAVBAR*/
#site-header {
    display: grid;
}
#site-header-grid {
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-block;
}

/*LOGO*/
#logo-image {
    height: 110px;
    width: 360px;
    float: left;
}
.logo {
    display: inline;
}

/*NAVBAR*/
.navbar {
    display: inline;
    float: right;
    margin-top: 45px;
    margin-right: 50px;
    margin-left: 0px;
}
.navbar li {
    list-style-type: none;
    display: inline;
}
.nav-buttons{
    text-decoration: none;
    margin-right: 10px;
    font-size: 25px;
    color: black;
    font-family: sans-serif;
}
.nav-buttons:hover {
    color:  rgb(198,48,44);
    transition: var(--trans, color .4s ease 0s);
}

/*PAGE CONTAINER: "ITO UNG GITNA"*/
#grid-container {
    position: static;
	display: grid; 
	height: auto;
	width: 100%;
	grid-template-columns: 100%;
	box-sizing: border-box;
	padding-bottom: 0px 
}

/*FIRST PAGE*/
.first-page img{
    height: 100%;
    width: 100%;
    position: relative;
}
.image-background {
    position: relative; 
}
.centered {
    position: absolute;
    bottom: 50%;
    right: 50%;
}

/*SECOND PAGE*/


/*FOOTER*******************************************************************************************************************************/